.place { 
  display: grid;
  gap: 32px;
}

@media screen and (min-width:768px) {
  .place {
    margin: 0 24px 73px;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    margin: 0 48px 80px;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    margin: 0 148px 80px;
    gap: 48px 40px;
  }
}